<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login=form" class="card-body">
  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username=login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="lgoin-btn" class="btn">login</button>
    <a type="button" href="/signup">Not a member yet? Sign up here!</a>
  </div>
</form>
</div>

<script src="/js/login.js"></script>