<div class="card">
    <div class="card-header">
        <h2>Sign Up</h2>
    </div>

<div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
        <div>
            <label for="username-signup">USERNAME</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">PASSWORD</label>
            <input type="password" id="password-signup" />
        </div>
        <button type="submit" id="signup-btn" class="btn">SIGNUP</button>
        <a href="/login">Already signed up? Login here!</a>
    </form>
</div>
</div>

<script src="/js/signup.js"></script>